github-token=<GITHUB_TOKEN>
docker-token=<DOCKER_TOKEN>

do-api-token=<DO_API_KEY>
do-project-id=<DO_PROJECT_ID>
do-admin-username=<USERNAME>

do-ssh-key-id=<DO_SSH_KEY_ID>
do-pvt-key-path=<SSH_PRIVATEKEY_PATH>



